.title {
    text-align: center;
    margin-top: 3rem;
}

section {
    padding-left: 6rem;

    .create-booking-button {
        margin-left: 4rem;
    }

    app-worker-calendar {
        margin: auto;
        display: block;
        width: 100%;
    }
}
