<h2 class="page-title">My bookings</h2>

<section>
    @for (booking of bookings; track booking.id) {
        <mat-card class="booking-card">
            <mat-card-header>
                <mat-card-title>{{ booking.salonName }}</mat-card-title>
                <mat-card-subtitle>
                    {{ booking.date | date }} {{ booking.startTime }}
                </mat-card-subtitle>
            </mat-card-header>

            <img
                class="salon-image"
                mat-card-image
                src="{{
                    isValidUrl(booking.salonProfilePictureUrl)
                        ? booking.salonProfilePictureUrl
                        : blankProfilePictureUrl
                }}"
                alt="Salon profile picture"
            />

            <mat-card-content class="card-content">
                {{ booking.salonName }} is expecting you on
                {{ booking.date | date }} for "{{ booking.serviceName }}" with
                {{ booking.workerNickname }}
            </mat-card-content>
            <mat-card-actions class="actions">
                <button
                    mat-raised-button
                    color="warn"
                    (click)="cancelBooking(booking)"
                >
                    Cancel
                </button>
                <button
                    mat-raised-button
                    (click)="openSalonDetails(booking.salonId)"
                    color="primary"
                >
                    Salon details
                </button>
            </mat-card-actions>
        </mat-card>
    } @empty {
        <h4 class="no-bookings">No bookings yet</h4>
    }
</section>
