@use '../../../../assets/styles/variables' as *;

.switch {
    margin-bottom: 1rem;
    border-radius: 10px;
    background-color: white;
    border: none;

    .toggle {
        border-radius: 10px;
        border: none !important;
        background-color: white;

        &.light-mode-toggle {
            margin-bottom: 0.5rem;
        }

        .icon {
            color: $black;
        }

        &.light-mode-toggle:hover {
            .icon {
                color: orange;
            }
        }

        &.dark-mode-toggle:hover {
            .icon {
                color: blue;
            }
        }

        &.active {
            &.light-mode-toggle {
                background-color: $light-theme-background-switch;

                .icon {
                    color: rgb(255, 166, 0);
                }
            }

            &.dark-mode-toggle {
                background-color: $dark-theme-background-switch;

                .icon {
                    color: blue;
                }
            }
        }
    }
}
