<aside *ngIf="currentUserService.isAdmin" [ngClass]="isOpen ? 'sidebar open' : 'sidebar'" color="primary">
	<div class="top-sidebar">
		<div class="logo">
			<img src="../../../../assets/icons/logo.svg" alt="logo" />
		</div>
	</div>

	<div class="middle-sidebar">
		<ul class="sidebar-list">
			<app-side-item
				*ngFor="let item of sidenavItems"
				class="side-item"
				(click)="changePage()"
				[title]="item.title"
				[path]="item.path"
				[icon]="item.icon"
				[isOpen]="isOpen"
			></app-side-item>
		</ul>
	</div>
</aside>
