@if (lat && lng) {
    <section>
        <google-map
            class="map"
            [center]="userLocation"
            [zoom]="zoom"
            [mapId]="mapId"
            [options]="mapOptions"
        >
            <map-advanced-marker [position]="userLocation" />
        </google-map>

        <div class="directions-container">
            <p class="google-maps-location">{{ googleMapsLocation }}</p>

            <a
                target="_blank"
                matTooltip="Open in google maps"
                matTooltipPosition="right"
                matTooltipClass="tooltip"
                href="https://www.google.com/maps?q={{ lat }},{{ lng }}"
                class="directions-link"
            >
                See
            </a>
        </div>
    </section>
}
