section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .login-form {
        box-shadow: red;
        width: 75%;
        margin: auto;
        padding: 2rem;
        background-color: white;
        border-radius: 30px;

        app-forms-socials {
            text-align: center;
        }

        mat-form-field {
            display: block;
            font-size: 2rem;
            margin-top: 20px;

            .password-hint {
                font-size: 1.5rem;
            }

            mat-icon {
                color: green;
                cursor: pointer;

                &:hover {
                    color: blue;
                }
            }
        }

        app-error-message {
            &:not(.password-error-message) {
                position: relative;
                bottom: 2rem;
            }
        }

        .submit-btn {
            display: block;
            margin: auto;
            margin-top: 2rem;
        }
    }
}
