@use '../../../../assets/styles/variables' as *;

.login-form {
    box-shadow: $form-shadow;
    width: 30%;
    margin: auto;
    padding: 2rem;
    background-color: $white;
    border-radius: 30px;

    app-forms-socials {
        text-align: center;
    }

    mat-form-field {
        display: block;
        font-size: 1rem;
        margin-top: 20px;

        .password-hint {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
            font-size: 1rem;
        }

        .eye-icon {
            color: $primary;
            cursor: pointer;

            &:hover {
                color: $accent;
            }
        }
    }

    .submit-btn {
        display: block;
        margin: auto;
        margin-top: 2rem;
    }
}
