<section>
    <div class="container">
        <div
            [ngStyle]="{
                'background-image':
                    'url(' +
                    (salon.profilePictureUrl ?? blankProfilePictureUrl) +
                    ')'
            }"
            alt="Profile picture"
            class="profile-picture"
        ></div>

        @if (currentUser.isAdmin || currentUser.isOwner) {
            <app-upload-widget
                (newPictureUploaded)="newPictureUploaded($event)"
                class="upload-button"
            ></app-upload-widget>
        }
    </div>
</section>
