<header>
    <nav>
        <a class="nav-link login-btn" id="login-btn" routerLink="/public/login">
            <i class="nav-link-icon fa-solid fa-right-to-bracket"></i>
            Login
        </a>

        <a
            class="nav-link login-btn"
            id="login-btn"
            routerLink="/public/register"
        >
            <i class="nav-link-icon fa-solid fa-right-to-bracket"></i>
            Register
        </a>

        <a class="nav-link login-btn" id="login-btn" routerLink="/main">
            <i class="nav-link-icon fa-solid fa-right-to-bracket"></i>
            Main
        </a>
    </nav>
</header>
