@use '../../../../assets/styles/variables' as *;

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;

    .lock {
        color: $accent;
        width: 10rem;
        height: 10rem;
        font-size: 10rem;
        margin: 0 auto 30px auto;
    }

    .suggestion {
        font-size: 1.5rem;
        text-align: center;
    }

    .btn {
        display: block;
        margin: auto;
        margin-top: 30px;
    }
}
