@use '../../../../../assets/styles/variables' as *;

section {
    padding: 3rem;

    .title {
        margin-bottom: 2rem;
        font-size: 1.75rem;
        color: $black;
    }

    .specialty {
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
    }

    .specialty-number {
        font-weight: bold;
    }
}
