@if (specialties.length) {
    <section>
        <h3 class="title">
            Specialties

            @if (canEdit) {
                <button
                    class="icon"
                    mat-icon-button
                    color="primary"
                    (click)="openSalonSpecialtyDialog('create')"
                >
                    <mat-icon matTooltip="Edit" matTooltipPosition="left">
                        add_circle
                    </mat-icon>
                </button>
            }
        </h3>

        @for (specialty of specialties; track specialty.id) {
            <p class="specialty">
                <span class="specialty-number">{{ $index + 1 }}.</span>
                {{ specialty.text }}

                @if (canEdit) {
                    <button
                        class="icon"
                        mat-icon-button
                        color="primary"
                        (click)="openSalonSpecialtyDialog('edit', specialty)"
                    >
                        <mat-icon matTooltip="Edit" matTooltipPosition="left">
                            edit_square
                        </mat-icon>
                    </button>
                }
            </p>
        }
    </section>
}
