<section>
    <div mat-dialog-title class="header">
        <h3 class="title">Add owner</h3>

        <button
            type="button"
            mat-dialog-close
            mat-icon-button
            class="close-button"
        >
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <mat-dialog-content class="content">
        <mat-tab-group>
            <mat-tab label="Create new account" bodyClass="tab">
                <app-register-form
                    [isRegisteringOwner]="true"
                    [salonId]="dialogData.salonId"
                />
            </mat-tab>
            <mat-tab label="Add existing account" bodyClass="tab">
                <app-add-existing-owner-form
                    [salonId]="dialogData.salonId"
                    (saveClicked)="closeTheDialog()"
                />
            </mat-tab>
        </mat-tab-group>
    </mat-dialog-content>
</section>
