@use '../../../../../assets/styles/variables' as *;

section {
    margin-left: 3rem;

    .name {
        font-size: 2rem;
        margin-bottom: 1rem;
        font-weight: bold;
        color: $black;
    }

    .stars-container {
        display: flex;
        gap: 0.1rem;

        .rating {
            margin-right: 0.4rem;
            font-weight: bold;
        }

        .star {
            width: 1rem;
            height: 1rem;
            color: $black;
        }
    }
}
