<section>
    <div class="header">
        <h3 class="name">{{ name }}</h3>

        @if (
            !shouldntDisplayLeaveSalonButton &&
            (currentUser.isWorker || currentUser.isOwner) &&
            user!.salons.length
        ) {
            <button (click)="leaveSalon()" mat-raised-button color="warn">
                Leave salon
            </button>
        }
    </div>

    <div class="stars-container">
        <span class="rating">{{ rating | rating }}</span>

        @for (_ of createRange(rating); track $index) {
            <img
                class="star"
                src="../../../../../assets/icons/review-star.svg"
                alt="Star"
            />
        }

        @if (shouldDisplayHalfReviewStar()) {
            <img
                class="star"
                src="../../../../../assets/icons/review-half-star.svg"
                alt="Half star"
            />
        }

        @for (
            _ of createRange(
                6 - (shouldDisplayHalfReviewStar() ? rating + 1 : rating)
            );
            track $index
        ) {
            <img
                class="star"
                src="../../../../../assets/icons/review-empty-star.svg"
                alt="Star"
            />
        }
    </div>
</section>
