<section>
    <mat-form-field>
        <mat-icon matPrefix class="icon">search</mat-icon>
        <input
            type="text"
            placeholder="Type name or address"
            matInput
            [formControl]="salonsControl"
            [matAutocomplete]="auto"
        />

        <mat-autocomplete
            #auto="matAutocomplete"
            (optionSelected)="this.salonSelected.emit($event.option.value)"
        >
            @for (salon of autocompleteOptions | async; track salon) {
                <mat-option [value]="salon">
                    <div class="salon-option">
                        <img
                            class="salon-main-picture"
                            [src]="
                                isValidUrl(salon.profilePictureUrl)
                                    ? salon.profilePictureUrl
                                    : blankProfilePictureUrl
                            "
                            alt="Salon picture"
                        />
                        <div class="text">
                            <div class="name">{{ salon.name }}</div>
                            <div class="location">
                                {{ salon.googleMapsLocation }}
                            </div>
                        </div>
                    </div>
                </mat-option>
            }
        </mat-autocomplete>
    </mat-form-field>
    <google-map
        [center]="userLocation"
        [zoom]="zoom"
        [mapId]="mapId"
        [options]="mapOptions"
    >
        <map-circle
            class="circle"
            [options]="userLocationIndicatorOptions"
            [center]="userLocation"
            [radius]="150"
        />

        @for (salon of salons; track salon.id) {
            <map-advanced-marker
                (mapClick)="mapMarkerClicked($event)"
                [position]="getCoordinates(salon)"
            />
        }
    </google-map>
</section>
