<section>
    <h3 class="title">
        Images
        @if (canEdit) {
            <app-upload-widget (newPictureUploaded)="addImage($event)" />
        }
    </h3>
    @if (images.length) {
        <div class="image-slider">
            @if (images.length > 1) {
                <button
                    mat-icon-button
                    (click)="jumpToImage(currentImageIndex - 1)"
                >
                    <mat-icon>arrow_back_ios</mat-icon>
                </button>
            }

            <div>
                <div
                    [ngStyle]="{
                        'background-image':
                            'url(' + images[currentImageIndex].url + ')'
                    }"
                    alt="Salon image"
                    class="image"
                >
                    @if (canEdit) {
                        <button
                            mat-fab
                            class="delete-image-button"
                            (click)="deleteImage(images[currentImageIndex])"
                        >
                            <mat-icon>close</mat-icon>
                        </button>
                    }
                </div>

                @if (images.length > 1) {
                    <div class="indicators-container">
                        @for (image of images; track image.id) {
                            <div
                                (click)="jumpToImage($index)"
                                class="indicator"
                                [ngClass]="{
                                    active: $index === currentImageIndex
                                }"
                            ></div>
                        }
                    </div>
                }
            </div>

            @if (images.length > 1) {
                <button
                    mat-icon-button
                    (click)="jumpToImage(currentImageIndex + 1)"
                >
                    <mat-icon> arrow_forward_ios </mat-icon>
                </button>
            }
        </div>
    } @else {
        <p>No images yet</p>
    }
</section>
