@use '../../../../../assets/styles/variables' as *;

section {
    padding: 2rem;

    .header {
        display: flex;

        .title {
            display: block;
            font-size: 1.75rem;
            color: $black;
        }

        .close-button {
            position: relative;
            bottom: 1rem;
            left: 1rem;
            margin-left: auto;
        }
    }

    .content {
        .description-field {
            width: 100%;
        }
    }
}
