@use '../../../../../assets/styles/variables' as *;

.panel {
    margin: auto;
    border-radius: 10px;
    width: 50%;

    .header {
        mat-panel-title {
            font-size: 1.25rem;
            color: $primary;
        }
    }

    .stepper {
        form {
            mat-form-field {
                font-size: 1rem;
                display: block;

                mat-icon {
                    color: $primary;
                    cursor: pointer;

                    &:hover {
                        color: $black;
                    }
                }
            }

            app-error-message {
                position: relative;
                bottom: 1.5rem;
            }
        }

        button {
            &.next-btn {
                display: block;
                margin-left: auto;
            }

            &.cancel-btn {
                margin-left: 1rem;
            }
        }

        .actions {
            display: flex;
            justify-content: space-between;
            margin-top: 1.5rem;
        }

        .confirmation {
            font-size: 1rem;
        }
    }
}
