mat-sidenav {
    a {
        display: block;
        padding: 0.5rem 1rem;
        margin-bottom: 1rem;

        mat-icon {
            position: relative;
            top: 5px;
        }

        &:hover {
            background-color: gray;
        }
    }
}

mat-sidenav-content {
    height: 90vh;
}
