@use '../../assets/styles/variables' as *;

section {
    mat-sidenav {
        a {
            display: block;
            padding: 0.5rem 1rem;
            margin-bottom: 1rem;
            color: $primary;

            .text {
                position: relative;
                bottom: 5px;
                margin: 0 0.5rem;
            }

            &:hover {
                background-color: $white;
            }
        }
    }

    mat-sidenav-content {
        height: 100vh;
    }
}
