@use '../../../../../assets/styles/variables' as *;

.card {
    .header {
        padding: 1rem 2rem;

        .title {
            color: $primary;
            font-size: 1.5rem;
        }

        .edit-icon {
            position: relative;
            left: 1rem;
            bottom: 0.5rem;
            display: block;
            margin-left: auto;
            color: $primary;
            cursor: pointer;
        }
    }

    .content {
        margin: 0.5rem;

        form {
            mat-form-field {
                display: block;
                font-size: 1rem;
            }

            app-upload-widget {
                display: flex;
                justify-content: center;
            }

            .toggle-field-container {
                margin-bottom: 1rem;
                display: flex;
                justify-content: space-between;
                align-items: baseline;

                .toggle-label {
                    font-size: 1rem;
                }
            }

            .actions {
                margin-top: 20px;
                display: flex;
                justify-content: space-between;
                padding: 1rem;
                padding-top: 0;
            }
        }
    }
}
