<mat-card class="card">
    <mat-card-header class="header">
        <mat-card-title class="title">Personal information</mat-card-title>

        @if (!isEditing) {
            <button
                mat-icon-button
                class="edit-icon"
                (click)="isEditing = !isEditing"
                matTooltip="Edit"
                matTooltipPosition="right"
                matTooltipClass="tooltip"
            >
                <mat-icon> edit_square </mat-icon>
            </button>
        }
    </mat-card-header>

    <mat-card-content class="content">
        <form [formGroup]="updateSalonForm">
            <mat-form-field [appearance]="isEditing ? 'fill' : 'outline'">
                <mat-label>Location</mat-label>
                <input
                    matInput
                    formControlName="googleMapsLocation"
                    readonly="{{ !isEditing }}"
                />
            </mat-form-field>
            <app-error-message [control]="googleMapsLocationControl" />

            <mat-form-field [appearance]="isEditing ? 'fill' : 'outline'">
                <mat-label>Time penalty</mat-label>
                <input
                    matInput
                    formControlName="timePenalty"
                    readonly="{{ !isEditing }}"
                />
            </mat-form-field>
            <app-error-message [control]="timePenaltyControl" />

            <mat-form-field [appearance]="isEditing ? 'fill' : 'outline'">
                <mat-label>Bookings in advance</mat-label>
                <input
                    matInput
                    formControlName="bookingsInAdvance"
                    readonly="{{ !isEditing }}"
                />
            </mat-form-field>
            <app-error-message [control]="bookingsInAdvanceControl" />

            @if (user.isAdmin) {
                <mat-form-field [appearance]="isEditing ? 'fill' : 'outline'">
                    <mat-label>Latitude</mat-label>
                    <input
                        matInput
                        formControlName="latitude"
                        readonly="{{ !isEditing }}"
                    />
                </mat-form-field>

                <mat-form-field [appearance]="isEditing ? 'fill' : 'outline'">
                    <mat-label>Longitude</mat-label>
                    <input
                        matInput
                        formControlName="longitude"
                        readonly="{{ !isEditing }}"
                    />
                </mat-form-field>

                <app-error-message [control]="latitudeControl" />
            }

            <div class="toggle-field-container">
                <mat-label class="toggle-label">
                    Workers can move bookings
                </mat-label>
                <mat-button-toggle-group
                    formControlName="workersCanMoveBookings"
                >
                    <mat-button-toggle [value]="true">Yes</mat-button-toggle>
                    <mat-button-toggle [value]="false">No</mat-button-toggle>
                </mat-button-toggle-group>
            </div>

            <div class="toggle-field-container">
                <mat-label class="toggle-label">
                    Workers can delete bookings
                </mat-label>
                <mat-button-toggle-group
                    formControlName="workersCanDeleteBookings"
                >
                    <mat-button-toggle [value]="true"> Yes </mat-button-toggle>
                    <mat-button-toggle [value]="false"> No </mat-button-toggle>
                </mat-button-toggle-group>
            </div>

            <div class="toggle-field-container">
                <mat-label class="toggle-label">
                    Workers can set non working periods
                </mat-label>
                <mat-button-toggle-group
                    formControlName="workersCanSetNonWorkingPeriods"
                >
                    <mat-button-toggle [value]="true">Yes</mat-button-toggle>
                    <mat-button-toggle [value]="false">No</mat-button-toggle>
                </mat-button-toggle-group>
            </div>

            @if (isEditing) {
                <div class="actions">
                    <button mat-raised-button (click)="cancel()">Cancel</button>
                    <button
                        mat-raised-button
                        color="primary"
                        (click)="saveClicked()"
                        [disabled]="!updateSalonForm.valid"
                    >
                        Save
                    </button>
                </div>
            }
        </form>
    </mat-card-content>
</mat-card>
