.specialties,
.currencies,
.working-time,
.header,
.description,
.team,
.images,
.location,
.main-picture {
    margin: auto;
    margin-top: 4rem;
    display: block;
    width: 50%;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}
