.specialties,
.currencies,
.working-time,
.header,
.description,
.team,
.images,
.job-titles,
.sections,
.owners,
.main-picture,
.location,
.salon-information {
    font-size: 1.5rem;
    margin: auto;
    margin-top: 4rem;
    display: block;
    width: 50%;

    &.big-margin {
        margin-top: 10rem;
    }

    &.height500 {
        height: 500px;
    }
}

.images {
    margin-bottom: 15rem;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}
