@if (workingTime && salon) {
    <app-salon-header class="header" [name]="salon.name" [rating]="3.3" />

    <app-salon-sections
        class="sections"
        [sections]="sections"
        [salonId]="salon.id"
        [jobTitles]="salon.jobTitles"
        [mainCurrency]="salon.mainCurrency"
        [workers]="workers"
        [workingTime]="workingTime"
        [canEdit]="canEdit"
    />

    <app-salon-main-picture [salon]="salon" class="main-picture" />

    <app-salon-working-time
        class="working-time"
        [workingTime]="workingTime"
        [salonId]="salon.id"
    />

    <app-salon-job-titles
        class="job-titles"
        [salonId]="salon.id"
        [jobTitles]="salon.jobTitles"
    />

    <app-salon-description class="description" [salon]="salon" />

    <app-salon-location
        class="location"
        [googleMapsLocation]="salon.googleMapsLocation"
        [lat]="salon.latitude"
        [lng]="salon.longitude"
    />

    <app-salon-images class="images" [images]="salon.images" />

    <app-salon-currencies
        class="currencies"
        [mainCurrency]="salon.mainCurrency"
        [otherAcceptedCurrencies]="salon.otherAcceptedCurrencies"
        [salonId]="salon.id"
    />

    <app-salon-specialties
        class="specialties"
        [specialties]="salon.specialties"
        [canEdit]="canEdit"
        [salonId]="salon.id"
    />

    <app-salon-team
        class="team"
        [team]="workers"
        [canEdit]="canEdit"
        [salonId]="salon.id"
        [jobTitles]="salon.jobTitles"
    />
} @else {
    <div class="spinner-container">
        <mat-spinner mode="indeterminate" diameter="200"></mat-spinner>
    </div>
}
