@if (workingTime && salon) {
    <app-salon-header
        class="header"
        [name]="salon.name"
        [rating]="3.3"
        [googleMapsLocation]="salon.googleMapsLocation"
    />

    <app-salon-main-picture
        [profilePictureUrl]="salon.profilePictureUrl"
        class="main-picture"
    />

    <app-salon-working-time class="working-time" [workingTime]="workingTime" />

    <app-salon-description
        class="description"
        [description]="salon.description"
    />

    <app-salon-location
        class="location"
        [googleMapsLocation]="salon.googleMapsLocation"
        [lat]="salon.latitude"
        [lng]="salon.longitude"
    />

    <app-salon-images class="images" [images]="salon.images" />

    <app-salon-currencies
        class="currencies"
        [mainCurrency]="salon.mainCurrency"
        [otherAcceptedCurrencies]="salon.otherAcceptedCurrencies"
        [salonId]="salon.id"
    />

    <app-salon-specialties
        class="specialties"
        [specialties]="salon.specialties"
    />

    <app-salon-team class="team" />

    <app-salon-sections class="sections" [sections]="sections" />
} @else {
    <div class="spinner-container">
        <mat-spinner mode="indeterminate" diameter="200"></mat-spinner>
    </div>
}
