@if (workingTime && salon && user) {
    <app-salon-header
        class="header"
        [rating]="3.3"
        [salon]="salon"
        [user]="user"
    />

    <app-salon-images
        class="images"
        [ngClass]="{
            height500: salon.images.length
        }"
        [salonId]="salon.id"
        [images]="salon.images"
        [canEdit]="isAdminOrOwner"
    />

    @if (isAdminOrOwner) {
        <app-update-salon-form
            class="salon-information big-margin"
            [salon]="this.salon"
        />
    }

    <app-salon-sections
        class="sections"
        [sections]="sections"
        [salonId]="salon.id"
        [jobTitles]="salon.jobTitles"
        [mainCurrency]="salon.mainCurrency"
        [workers]="workers"
        [workingTime]="workingTime"
        [canEdit]="isAdminOrOwner"
    />

    <app-salon-working-time
        class="working-time"
        [workingTime]="workingTime"
        [salonId]="salon.id"
    />

    <app-salon-job-titles
        class="job-titles"
        [salonId]="salon.id"
        [jobTitles]="salon.jobTitles"
        [canEdit]="isAdminOrOwner"
    />

    <app-salon-description class="description" [salon]="salon" />

    <app-salon-location
        class="location height500"
        [googleMapsLocation]="salon.googleMapsLocation"
        [lat]="salon.latitude"
        [lng]="salon.longitude"
    />

    <app-salon-currencies
        class="currencies"
        [mainCurrency]="salon.mainCurrency"
        [otherAcceptedCurrencies]="salon.otherAcceptedCurrencies"
        [salon]="salon"
        [canEdit]="isAdminOrOwner"
    />

    <app-salon-specialties
        class="specialties"
        [specialties]="salon.specialties"
        [canEdit]="isAdminOrOwner"
        [salonId]="salon.id"
    />

    <app-salon-team
        class="team"
        [team]="workers"
        [canEdit]="isAdminOrOwner"
        [salonId]="salon.id"
        [jobTitles]="salon.jobTitles"
    />

    @if (isAdminOrOwner) {
        <app-salon-owners
            class="owners"
            [owners]="owners"
            [canEdit]="currentUser.isAdmin"
            [salonId]="salon.id"
        />
    }
} @else {
    <div class="spinner-container">
        <mat-spinner mode="indeterminate" diameter="200"></mat-spinner>
    </div>
}
