<div class="socials">
    <img
        src="../../../../assets/icons/facebook-logo.svg"
        alt="facebook-logo"
        matTooltip="Facebook login"
        matTooltipPosition="right"
    />

    <img
        src="../../../../assets/icons/google-logo.svg"
        alt="google-logo"
        matTooltip="Google login"
        matTooltipPosition="right"
    />

    <img
        src="../../../../assets/icons/instagram-logo.svg"
        alt="instagram-logo"
        matTooltip="Instagram login"
        matTooltipPosition="right"
    />
</div>
