@use '../../../../../assets/styles/variables' as *;

.salon-card {
    margin: auto;
    margin-bottom: 3rem;
    padding: 2rem;
    border-radius: 30px;

    .header {
        margin-bottom: 2rem;
    }

    .image {
        border-radius: 20px;
    }

    .actions {
        margin-top: 1rem;
        display: flex;
        justify-content: center;
    }
}
