@use '../../../../../assets/styles/variables' as *;

.card {
    width: 50%;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 4rem;
    box-shadow: $form-shadow;

    .header {
        padding: 0.5rem 2rem;

        .title {
            color: $primary;
            font-size: 1.5rem;
        }

        .edit-icon {
            display: block;
            margin-left: auto;
            color: $primary;
            cursor: pointer;
        }
    }

    .content {
        padding: 0rem 2rem;
    }
}
