<mat-card class="card">
    <mat-card-header class="header">
        <mat-card-title class="title">Personal information</mat-card-title>

        @if (isEditIconVisible) {
            <button
                mat-icon-button
                class="edit-icon"
                (click)="allowEditing()"
                matTooltip="Edit"
                matTooltipPosition="right"
                matTooltipClass="tooltip"
            >
                <mat-icon> edit_square </mat-icon>
            </button>
        }
    </mat-card-header>

    <mat-card-content class="content">
        <app-personal-information-form
            [canEdit]="canEdit"
            (setCanEditToFalse)="forbidEditing()"
        ></app-personal-information-form>
    </mat-card-content>
</mat-card>
