@use '../../../../../assets/styles/variables' as *;

.panel {
    width: 50%;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 4rem;

    .header {
        font-size: 1.25rem;

        mat-panel-title {
            color: $primary;
        }
    }

    .edit-icon {
        display: block;
        margin-left: auto;
        margin-bottom: 1rem;
        // position: relative;
        // right: 1.5rem;
        color: $primary;
        cursor: pointer;
    }
}
