@use '../../../../../assets/styles/variables' as *;

section {
    display: flex;
    height: 100%;

    .container {
        display: flex;
        flex: 1;
        flex-direction: column;

        app-salons-map {
            display: flex;
            flex: 1;
        }
    }

    .search-side {
        width: 20%;

        .title {
            margin: 2rem;
            font-size: 1.75rem;
            color: $black;
        }
    }
}
