@use '../../../../../assets/styles/variables' as *;

section {
    display: flex;
    height: 100%;
    padding-left: 6rem;

    .container {
        display: flex;
        flex: 1;
        flex-direction: column;

        app-salons-map {
            display: flex;
            flex: 1;
        }
    }

    .search-side {
        width: 20vw;

        .title {
            margin-top: 2rem;
            text-align: center;
            font-size: 1.75rem;
            color: $black;
        }
    }
}
