<section>
    <div mat-dialog-title class="header">
        <h3 class="title">Update job titles</h3>

        <button
            type="button"
            mat-dialog-close
            mat-icon-button
            class="close-button"
        >
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <mat-dialog-content class="content">
        <mat-form-field class="field">
            <mat-label>Job titles</mat-label>
            <mat-select [formControl]="jobTitlesControl" multiple>
                @for (jobTitle of dialogData.jobTitles; track jobTitle) {
                    <mat-option [value]="jobTitle.name">
                        {{ jobTitle.name }}
                    </mat-option>
                }
            </mat-select>
        </mat-form-field>
        <app-error-message [control]="jobTitlesControl"></app-error-message>
    </mat-dialog-content>

    <mat-dialog-actions class="actions" align="center">
        <button
            (click)="saveClicked()"
            mat-raised-button
            color="primary"
            class="save-button"
            [disabled]="!jobTitlesControl.valid"
        >
            Save
        </button>
    </mat-dialog-actions>
</section>
