@use '../../../../../assets/styles/variables' as *;

.autocomplete-currency-logo {
    max-height: 1rem;
    max-width: 1rem;
}

section {
    border-radius: 30px;
    background-color: $white;
    padding: 3rem;
    box-shadow: $form-shadow;

    .other-accepted-currencies {
        display: block;

        mat-label {
            font-size: 1.25rem;
        }
    }

    .main-currency {
        display: block;
        mat-label {
            font-size: 1.25rem;
        }
    }
}
