@use '../../../../../assets/styles/variables' as *;

.autocomplete-currency-logo {
    max-height: 1rem;
    max-width: 1rem;
}

section {
    margin-left: 3rem;
    margin-top: 10rem;

    .title {
        margin-bottom: 2rem;
        font-size: 1.75rem;
        color: $black;
    }

    .other-accepted-currencies {
        display: block;

        mat-label {
            font-size: 1.25rem;
        }
    }

    .main-currency {
        display: block;
        width: 300px;

        mat-label {
            font-size: 1.25rem;
        }
    }
}
