section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;

    h2 {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 2rem;
    }
}
