<section>
    <h3 mat-dialog-title class="title">Invite a owner</h3>

    <mat-dialog-content class="content">
        <mat-form-field class="owner-field">
            <mat-label>Owner</mat-label>

            <input
                [matAutocomplete]="auto"
                matInput
                [formControl]="ownerControl"
            />

            @if (ownerSelected) {
                <img
                    matSuffix
                    class="suffix-owner-logo"
                    [src]="ownerSelected.profilePictureUrl"
                    alt="owner-logo"
                />
            }
        </mat-form-field>

        <mat-autocomplete
            autoActiveFirstOption
            #auto="matAutocomplete"
            (optionSelected)="autocompleteOptionSelected($event)"
        >
            @for (
                ownerOption of autocompleteOptions | async;
                track ownerOption
            ) {
                <mat-option [value]="ownerOption">
                    <img
                        class="autocomplete-owner-logo"
                        [src]="ownerOption.profilePictureUrl"
                        alt="Currency logo"
                    />

                    {{ ownerOption.firstName }}
                </mat-option>
            }
        </mat-autocomplete>
        <app-error-message [control]="ownerControl"></app-error-message>
    </mat-dialog-content>

    <mat-dialog-actions class="actions" align="center">
        <button
            mat-raised-button
            color="primary"
            (click)="saveClicked()"
            class="save-button"
        >
            Invite
        </button>
    </mat-dialog-actions>
</section>
