@if (isLoading) {
    <mat-spinner></mat-spinner>
} @else {
    < mat-dialog-content class="modal-container scrollbar">
    <div class="actions">
        <button type="button" mat-icon-button class="action">
            <mat-icon mat-dialog-close>close</mat-icon>
        </button>
        <button
            type="button"
            (click)="editIconClicked()"
            mat-icon-button
            class="action"
        >
            <mat-icon>edit</mat-icon>
        </button>
        <button
            type="button"
            (click)="deleteIconClicked()"
            mat-icon-button
            class="action"
            mat-icon-button
            class="action"
        >
            <mat-icon>delete</mat-icon>
        </button>
    </div>

    <div class="header">
        <h3 class="booking-data title">This is hard coded</h3>
    </div>

    <p class="booking-data">Start date: {{ startDate }}</p>
    <p class="booking-data">Start time: {{ startTime }}</p>

    @if (bookingHoursDuration !== 0) {
        <p class="booking-data">
            Duration: {{ bookingHoursDuration }} hours and
            {{ bookingMinutesDuration }} minutes
        </p>
    }
    @if (bookingHoursDuration === 0) {
        <p class="booking-data">
            Duration: {{ bookingMinutesDuration }} minutes
        </p>
    }
}
