<section>
    <div mat-dialog-title class="header">
        @if (booking.customerProfilePictureUrl) {
            <img
                [src]="booking.customerProfilePictureUrl"
                alt="customer-image"
                class="main-image"
            />
        }

        <h3 class="title">
            {{ booking.customerFirstName }} {{ booking.customerLastName }}
        </h3>

        <button
            type="button"
            mat-dialog-close
            mat-icon-button
            class="close-button"
        >
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <mat-dialog-content class="content">
        <p class="booking-data">
            <span class="bold">Start date:</span> {{ booking.date | date }}
        </p>
        <p class="booking-data">
            <span class="bold">Start time:</span>
            {{ booking.startTime | onlyHourAndMinutes }}
        </p>

        @if (bookingHoursDuration !== 0) {
            <p class="booking-data">
                Duration: {{ bookingHoursDuration }} hours and
                {{ bookingMinutesDuration }} minutes
            </p>
        }
        @if (bookingHoursDuration === 0) {
            <p class="booking-data">
                <span class="bold"> Duration: </span>
                {{ bookingMinutesDuration }} minutes
            </p>
        }

        @if (canFinishTheBooking) {
            <mat-form-field class="note-field">
                <mat-label>Note</mat-label>
                <input matInput [formControl]="noteFormControl" />
            </mat-form-field>
        }
    </mat-dialog-content>

    <mat-dialog-actions class="actions">
        <button
            type="button"
            (click)="deleteIconClicked()"
            mat-raised-button
            color="warn"
            class="action delete-button"
        >
            Delete
        </button>
        <button
            type="button"
            (click)="openBookingsHistory()"
            mat-icon-button
            class="action history-button"
        >
            <mat-icon>history</mat-icon>
        </button>

        @if (canFinishTheBooking) {
            <button
                type="button"
                (click)="doneClicked()"
                mat-icon-button
                class="action done-button"
            >
                <mat-icon>done</mat-icon>
            </button>
        }
    </mat-dialog-actions>
</section>
