@use '../../../../../assets/styles/variables' as *;

section {
    padding: 2rem;
    border-radius: 30px;
    height: 100%;

    .header {
        display: flex;

        .main-image {
            margin-right: 2rem;
            border-radius: 50%;
            width: 3rem;
            height: 3rem;
        }

        .title {
            display: block;
            font-size: 1.75rem;
            color: $black;
        }

        .close-button {
            margin-left: auto;
        }
    }

    .content {
        padding: 1rem;

        .booking-data {
            .bold {
                font-weight: bold;
                font-size: 1.25rem;
            }
        }

        .note-field {
            margin-top: 1rem;
            width: 100%;
        }

        &::-webkit-scrollbar {
            width: 10px;
            height: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $primary;
            border-radius: 5px;
        }

        &::-webkit-scrollbar-track {
            background-color: #ccc;
        }
    }

    .actions {
        display: flex;
        justify-content: space-between;

        .history-button {
            color: $primary;
        }

        .done-button {
            color: green;
        }
    }
}
