<header>
  <div class="navigation-buttons">
    <button
      mat-raised-button
      color="primary"
      mwlCalendarPreviousView
      [view]="view"
      [(viewDate)]="viewDate"
      (viewDateChange)="closeOpenMonthViewDay()"
      >
      Previous
    </button>
    <button
      mat-raised-button
      color="primary"
      mwlCalendarToday
      [(viewDate)]="viewDate"
      >
      Today
    </button>
    <button
      mat-raised-button
      color="primary"
      mwlCalendarNextView
      [view]="view"
      [(viewDate)]="viewDate"
      (viewDateChange)="closeOpenMonthViewDay()"
      >
      Next
    </button>
  </div>

  <h3 class="title">
    {{ viewDate | calendarDate : view + 'ViewTitle' : 'en' }}
  </h3>

  <div class="views-buttons-container">
    <button
      mat-raised-button
      color="primary"
      (click)="setView(CalendarView.Month)"
      [class.active]="view === CalendarView.Month"
      >
      Month
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="setView(CalendarView.Week); scrollToTheCurrentTimeMarker()"
      [class.active]="view === CalendarView.Week"
      >
      Week
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="setView(CalendarView.Day); scrollToTheCurrentTimeMarker()"
      [class.active]="view === CalendarView.Day"
      >
      Day
    </button>
  </div>
</header>

<div class="calendar-container">
  @switch (view) {
    @case (CalendarView.Month) {
      <mwl-calendar-month-view
        [viewDate]="viewDate"
        [events]="calendarEvents"
        [activeDayIsOpen]="activeDayIsOpen"
        (dayClicked)="dayClicked($event.day)"
        (eventClicked)="bookingClicked($event.event)"
        >
      </mwl-calendar-month-view>
    }
    @case (CalendarView.Week) {
      <mwl-calendar-week-view
        [viewDate]="viewDate"
        [events]="calendarEvents"
        [hourSegments]="4"
        (hourSegmentClicked)="hourSegmentClicked($event)"
        (eventClicked)="bookingClicked($event.event)"
        >
      </mwl-calendar-week-view>
    }
    @case (CalendarView.Day) {
      <mwl-calendar-day-view
        [viewDate]="viewDate"
        [events]="calendarEvents"
        [hourSegments]="4"
        (hourSegmentClicked)="hourSegmentClicked($event)"
        (eventClicked)="bookingClicked($event.event)"
        >
      </mwl-calendar-day-view>
    }
  }
</div>
