<section>
    <mat-icon>calendar-clock</mat-icon>
    <h3 class="title">Working time</h3>

    <app-daily-working-time
        class="daily-working-time"
        [salonId]="salonId"
        [day]="DayOfWeek.Monday"
        [today]="today"
        [isWorking]="workingTime.mondayIsWorking"
        [openingTime]="workingTime.mondayOpeningTime"
        [closingTime]="workingTime.mondayClosingTime"
    />

    <app-daily-working-time
        class="daily-working-time"
        [salonId]="salonId"
        [day]="DayOfWeek.Tuesday"
        [today]="today"
        [isWorking]="workingTime.tuesdayIsWorking"
        [openingTime]="workingTime.tuesdayOpeningTime"
        [closingTime]="workingTime.tuesdayClosingTime"
    />

    <app-daily-working-time
        class="daily-working-time"
        [salonId]="salonId"
        [day]="DayOfWeek.Wednesday"
        [today]="today"
        [isWorking]="workingTime.wednesdayIsWorking"
        [openingTime]="workingTime.wednesdayOpeningTime"
        [closingTime]="workingTime.wednesdayClosingTime"
    />

    <app-daily-working-time
        class="daily-working-time"
        [salonId]="salonId"
        [day]="DayOfWeek.Thursday"
        [today]="today"
        [isWorking]="workingTime.thursdayIsWorking"
        [openingTime]="workingTime.thursdayOpeningTime"
        [closingTime]="workingTime.thursdayClosingTime"
    />

    <app-daily-working-time
        class="daily-working-time"
        [salonId]="salonId"
        [day]="DayOfWeek.Friday"
        [today]="today"
        [isWorking]="workingTime.fridayIsWorking"
        [openingTime]="workingTime.fridayOpeningTime"
        [closingTime]="workingTime.fridayClosingTime"
    />

    <app-daily-working-time
        class="daily-working-time"
        [salonId]="salonId"
        [day]="DayOfWeek.Saturday"
        [today]="today"
        [isWorking]="workingTime.saturdayIsWorking"
        [openingTime]="workingTime.saturdayOpeningTime"
        [closingTime]="workingTime.saturdayClosingTime"
    />

    <app-daily-working-time
        class="daily-working-time"
        [salonId]="salonId"
        [day]="DayOfWeek.Sunday"
        [today]="today"
        [isWorking]="workingTime.sundayIsWorking"
        [openingTime]="workingTime.sundayOpeningTime"
        [closingTime]="workingTime.sundayClosingTime"
    />
</section>
