@if (!canEdit) {
    <div class="customer-working-time">
        <div class="circle-day-container">
            <div
                class="circle"
                [ngClass]="{
                    'red-background': !isWorking,
                    'green-background': isWorking
                }"
            ></div>
            <div
                [ngClass]="{
                    bold: today === day
                }"
            >
                {{ day }}
            </div>
        </div>

        <div
            [ngClass]="{
                bold: day === today
            }"
        >
            @if (isWorking) {
                {{ openingTime | onlyHourAndMinutes }} -
                {{ closingTime | onlyHourAndMinutes }}
            } @else {
                Closed
            }
        </div>
    </div>
} @else {
    <div class="editable-working-time">
        <div class="name-and-is-working-container">
            <span class="day">{{ day }}</span>

            <mat-slide-toggle
                color="primary"
                [(ngModel)]="isWorking"
                (change)="saveChanges()"
                [checked]="isWorking"
                class="is-working-toggle"
                (toggleChange)="updateIsWorking()"
            />
        </div>

        @if (isWorking) {
            <div class="container">
                <span>Opens</span>
                <mat-form-field class="time-picker" appearance="outline">
                    <input
                        #openingTimeInput
                        matInput
                        [format]="24"
                        [ngxMatTimepicker]="openingTimePicker"
                        [placeholder]="openingTime | onlyHourAndMinutes"
                        readonly
                    />

                    <button
                        matSuffix
                        mat-icon-button
                        color="primary"
                        (click)="openingTimePicker.open()"
                    >
                        <mat-icon (click)="openingTimePicker.open()">
                            schedule
                        </mat-icon>
                    </button>
                </mat-form-field>

                <span>Closes</span>
                <mat-form-field class="time-picker" appearance="outline">
                    <input
                        #closingTimeInput
                        [format]="24"
                        matInput
                        [ngxMatTimepicker]="closingTimePicker"
                        [placeholder]="closingTime | onlyHourAndMinutes"
                        readonly
                    />

                    <button
                        matSuffix
                        mat-icon-button
                        color="primary"
                        (click)="closingTimePicker.open()"
                    >
                        <mat-icon> schedule </mat-icon>
                    </button>
                </mat-form-field>
            </div>
        } @else {
            <div class="closed">Closed</div>
        }

        <ngx-mat-timepicker
            #openingTimePicker
            dottedMinutesInGap
            enableKeyboardInput
            (timeSet)="updateOpeningTime($event)"
            timepickerClass="time-picker-dialog"
        />

        <ngx-mat-timepicker
            #closingTimePicker
            dottedMinutesInGap
            enableKeyboardInput
            (timeSet)="updateClosingTime($event)"
            timepickerClass="time-picker-dialog"
        />
    </div>

    <mat-divider class="divider"></mat-divider>
}
