<section>
    <h3 class="title">
        <span>{{ this.jobTitlesFilter ? 'Choose specialist' : 'Team' }}</span>

        @if (canEdit) {
            <button
                class="icon"
                mat-icon-button
                color="primary"
                (click)="openAddWorkerDialog()"
            >
                <mat-icon matTooltipPosition="left"> add_circle </mat-icon>
            </button>
        }
    </h3>

    @if (team.length) {
        <div class="flex-container">
            @for (worker of team; track $index) {
                <div class="team-member">
                    @if (this.jobTitlesFilter) {
                        <button
                            mat-raised-button
                            class="select-worker-button"
                            (click)="workerSelected(worker)"
                        >
                            Select
                        </button>
                    }
                    <img
                        [src]="worker.profilePictureUrl"
                        alt="Team member image"
                        class="image"
                    />
                    <div class="rating">
                        <span> 3.33 </span>
                        <img
                            class="star"
                            src="../../../../../assets/icons/review-star.svg"
                        />
                    </div>
                    <p class="nickname">{{ worker.nickname }}</p>
                </div>
            }
        </div>
    } @else if (this.jobTitlesFilter) {
        No workers that can perform this service yet
    } @else {
        No workers yet
    }
</section>
