@use '../../../../../assets/styles/variables' as *;

section {
    display: flex;
    justify-content: space-evenly;
    margin: 5rem;

    .content {
        text-align: center;

        .profile-picture {
            max-width: 30vh;
            border-radius: 50%;
            margin-bottom: 2rem;
        }

        .name {
            font-size: 2rem;
            margin-bottom: 1rem;
            letter-spacing: 2px;
            font-weight: 500;
        }

        .email {
            font-size: 1rem;
            color: $primary;
        }
    }
}
