@use '../../../../assets/styles/variables' as *;

.register-form {
    box-shadow: $form-shadow;
    width: 50%;
    margin: auto;
    padding: 2rem;
    background-color: $white;
    border-radius: 30px;

    app-forms-socials {
        text-align: center;
        display: block;
        margin-bottom: 1rem;
    }

    .flex-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .form-fields-container {
            width: 55%;

            mat-form-field {
                display: block;
                font-size: 1em;

                &.password-field {
                    margin-bottom: 1rem;
                }

                .password-hint {
                    font-size: 1rem;
                }

                .eye-icon {
                    color: $primary;
                    cursor: pointer;

                    &:hover {
                        color: $accent;
                    }
                }
            }

            app-error-message {
                position: relative;
                bottom: 1rem;
            }
        }

        .profile-picture-container {
            width: 40%;

            .profile-picture {
                max-width: 100%;
                margin-bottom: 20px;
                border-radius: 30px;
            }

            app-upload-widget {
                display: block;
                text-align: center;
            }
        }
    }

    .submit-btn {
        display: block;
        margin: auto;
    }
}

@media (max-width: 700px) {
    .register-form {
        .flex-container {
            flex-direction: column;
            align-items: center;

            .profile-picture-container {
                order: 0;
            }

            .form-fields-container {
                order: 1;
                width: 100%;
            }
        }
    }
}
