@use './assets/styles/variables' as *;
@use '@angular/material' as mat;
@use './assets/styles/worker-calendar.scss';
@include mat.core();
@import '../node_modules/angular-calendar/css/angular-calendar.css';

$my-primary: mat.define-palette(mat.$indigo-palette);
$my-accent: mat.define-palette(mat.$pink-palette);

$my-theme: mat.define-light-theme(
    (
        color: (
            primary: $my-primary,
            accent: $my-accent,
        ),
        typography: mat.define-typography-config(),
        density: 0,
    )
);

@include mat.all-component-themes($my-theme);

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    font-family: 'Montserrat Alternates';
}

html {
    height: 100%;

    &::-webkit-scrollbar {
        width: 0.8rem;
        background-color: $white;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $primary;
        border-radius: 5rem;
    }

    body {
        height: 100%;
    }
}

.page-title {
    margin: 3rem 0;
    text-align: center;
    font-size: 2rem;
    color: $black;
}

.tooltip {
    div {
        border: 1px solid $darker-white;
        background-color: #fff !important;
        color: $black !important;
        border-radius: 10px !important;
        font-size: 0.9rem !important;
        padding: 0.6rem 0.8rem !important;
    }
}

.round-without-padding {
    mat-dialog-container {
        .mdc-dialog__container {
            .mdc-dialog__surface {
                padding: 0px !important;
                border-radius: 30px !important;
            }
        }
    }
}

ngx-mat-timepicker-period {
    display: none !important;
}
