$black: #26262d;
$white: #eee;

$primary: #1660b4;
$primary-light: #1660b4;
$primary-dark: #1660b4;

$accent: #69ee7f;
$accent-light: #7ee221;
$accent-dark: #36f008;

$form-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
