@media only screen and (max-width: 620px) {
    .calendar-container {
        width: 70vw;

        .cal-month-view {
            .cal-day-number {
                margin-top: 0;
                margin-left: 0;
                font-size: 1em;
            }

            .cal-today {
                .cal-day-number {
                    font-size: 1em;
                }
            }

            .cal-day-badge {
                margin-top: 0px;
                margin-left: 0px;
            }
        }
    }
}
