<section>
    <div class="content">
        <img
            [src]="user.profilePictureUrl"
            alt="Profile picture"
            class="profile-picture"
        />

        <app-upload-widget
            class="upload-button"
            buttonText="Change your picture"
            (newPictureUploaded)="changeProfilePicture($event)"
        />

        <h1 class="name">
            {{ user.firstName + ' ' + user.lastName }}
        </h1>

        <p class="email">{{ user.email }}</p>
    </div>
</section>
